.path-product{
    display: flex;
    margin-top: 5rem;
    padding-inline: 2.5rem;
    gap: 1rem;

    & span{
        font-size: 1.3rem;

        &:hover{
            color: #1D74D7;
            cursor: pointer;
        }
    }

    & .current-product{
        font-style: italic;
        padding-bottom: 1px;
        text-decoration: underline;
        text-underline-offset: .2rem;
    }
}

.product-container{
    margin-top: 1rem;
    padding-inline: 2.5rem;
    
    & .product-imgs{
        width: 100%;
        height: 100%;
        display: flex;
        place-content: center;
        overflow: hidden;

        & img{
            transition: .5s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }

    .product-details{
        display: grid;
        gap: 1.5rem;

        & .product-name{
            font-size: 2rem;
        }

        & .product-rating{
            font-size: 1.5rem;
            display: flex;
            gap: 1rem;

            & .stars{
                color: #1D74D7;
            }
        }

        & .product-sku{
            font-size: 1.5rem;
        }

        & .product-price{
            font-size: 2rem;
        }

        & .product-description{
            font-size: 1.5rem;
            text-align: justify;
        }

        & .product-colors{
            display: grid;
            gap: .5rem;
            margin-block: 1rem;

            & p{
                font-size: 1.5rem;
                font-weight: bold;
            }

            & .options-color{
                display: flex;
                gap: 1rem;
                
                & span{
                    width: 2rem;
                    height: 2rem;
                    cursor: pointer;
                    
                    &.green{ background-color: green;}
                    &.orange{ background-color: orange;}
                    &.blue{ background-color: blue;}
                }
            }
        }

        & .product-quantity{
            display: grid;
            gap: 1rem;

            & p{
                font-size: 1.5rem;
            }

            & .wrap-button-quantity{
                margin-bottom: 2rem;

                & .wrap-input{
                    display: flex;
                    border: 1px solid #a2a2a2;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;
                    font-size: 1.8rem;
                    width: max-content;
                    
                    & button{
                        border: none;
                        background-color: #FFF;
                        display: flex;
                        align-items: center;
                        padding: 1rem;
                    }
                }
            }
        }

        & .product-buttons{
            display: grid;
            gap: 1rem;
        }

        & .product-more-info{
            margin-top: 2rem;
            display: grid;
            gap: 1.5rem;

            & .product-wrap-toggle{
                display: grid;
                gap: 1.3rem;
                border-bottom: 1px solid #aeaeae;
                
                & .toggle-title{
                    display: flex;
                    justify-content: space-between;
                    cursor: pointer;

                    & span{
                        font-size: 1.5rem;
                    }
                }

                & .toggle-details {
                    font-size: 1.3rem;
                    text-align: justify;
                    padding-bottom: 1.5rem;
                    opacity: 1;
                    visibility: visible;
                    height: auto;
                    transition: opacity 1.5s ease, height 0s;
                    
                    &.hide {
                        opacity: 0;
                        height: 0;
                        padding-bottom: 0;
                        transition: opacity 1.5s ease, height 0.5s ease;
                        visibility: hidden;
                        transition-delay: 1.5s;
                    }
                }
                
            }
        }
    }
}





