*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root{
    font-size: 62.5%;
    font-family: "Space Grotesk", serif;
}

html, body, input, button{
    font-family: "Space Grotesk", serif;
}


/* GERAL
---------------------------------------*/
.btn{
    border: none;
    padding: 1.2rem 4rem;
    border-radius: 3rem;
    transition: 0.5s;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn-primary{
    background-color: #1D74D7;
    color: #FFF;

    &:hover{
        background-color: #FFF;
        color: #1D74D7;
        border: 1px solid #1D74D7;
    }
}

.btn-second{
    background: none;
    border: 1px solid #FFF;
    color: #FFF;

    &:hover{
        background-color: #FFF;
        border: 1px solid #1D74D7;
        color: #1D74D7;
    }
}

.btn-third{
    background: #FFF;
    border: 1px solid #1D74D7;
    color: #1D74D7;

    &:hover{
        background-color: #1D74D7;
        border: none;
        color: #FFF;
    }
}

.btn-large{
    width: 100%;
}

.title{
    font-size: 3.5rem;
}



/* HEADER
---------------------------------------*/
header{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    background-color:  rgba(23, 23, 23, .4);

    & .navbar-main{
        width: 100%;
        display: grid;
        justify-content: center;
        padding: 0.5rem 1.5rem;
        background-color: #FFF;
        grid-template-columns: max-content 0 1fr 0.4fr max-content;
        gap: 1rem;
        align-items: center;

        & h1{
            color: #000;
            font-size: 3rem;
            text-align: center;
        }

        & .chk-hamburguer {
            display: none;
        
            &:checked ~ label .hamburguer {
                transform: rotate(45deg);
                background-color: #FFF;
        
                &:before {
                    transform: rotate(90deg);
                    top: 0;
                }
                
                &:after {
                    transform: rotate(90deg);
                    bottom: 0;
                    background-color: #FFF;
                }
            }
        
            &:checked ~ .list-elements{
                left: 0;
            }
        }

        & .menu {
            width: 60px;
            height: 60px;
            border-radius: 5px;
            cursor: pointer;
            display: none;

            & .hamburguer {
                position: relative;
                display: block;
                background: #000;
                width: 30px;
                height: 2px;
                top: 29px;
                left: 15px;
                transition: 0.5s ease-in-out;
                
                &:before,
                &:after {
                    background-color: #000;
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    transition: 0.5s ease-in-out;
                }
                  
                &:before {
                    top: -10px;
                }
                  
                &:after {
                    bottom: -10px;
                }
            }
        }
        
        & .list-elements{
            display: flex;
            width: 100%;
            height: 10vh;
            justify-content: space-around;
            align-items: center;
            gap: 1rem;
            
            & li{
                list-style: none;
                font-size: 1.4rem;
                margin: 2rem 0;
                font-size: 1.4rem;
                list-style: none;
            }
            
            & a{
                color: #000;
                text-decoration: none;
                
                &:hover{
                    color: rgba(20,20,20,.8)
                }
            }
            
        }

        & .search-bar{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            & .txt-search{
                width: 90%;
                height: 50%;
                border: 1px solid #747279;
                background: none;
                border-radius: 6rem;
                text-align: center;
            }
        }

        & .users-info{
            display: flex;
            align-items: center;
            gap: 1.5rem;

            & a{
                font-size: 1.4rem;
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                color: black;
                transition: 0.2s;

                & i{
                    font-size: 2.6rem;
                }
                
                &:hover{
                    scale: 1.1;
                }
            }
        }
    }
}

/* MAIN
---------------------------------------*/
main{
    /*--------- SECTION 1 - HOME ---------*/
    & .home{
        overflow: hidden;
        position: relative;

        & img{
            width: 100%;
            object-fit: cover;
        }

        & .infos-home{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            gap: 4rem;
            align-items: center;
            text-align: center;
            padding: 5rem 5rem 0;
            color: #FFF;

            & h1{
                font-size: 4rem;
                line-height: 4rem;
            }

            & p{
                font-size: 2.5rem;
            }
        }

        & .animated-div{
            position: absolute;
            bottom: 0;
            background-color: #1D74D7;
            padding: 2rem 1rem;
            display: flex;
            width: max-content;

            & span{
                color: #FFF;
                font-size: 2.2rem;
                animation: divAnimated 4s infinite linear;
                padding-left: 1rem;
            }
        }
    }

    /*--------- SECTION 2 - NEW PRODUCTS ---------*/
    & .new-products{
        margin-top: 5rem;
        padding-inline: 2.5rem;

        & .list-new-products{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            margin-top: 2rem;

            & .wrap-product{
                border-radius: 2rem;
                display: grid;
                gap: 1rem;
                border: 1px solid rgba(149, 157, 165, 0.2);
                
                & .product-img{
                    overflow: hidden;
                    display: flex;
                    align-items: center;

                    & img{
                        object-fit: cover;
                        width: 70%;
                        margin: 0 auto;
                        transition: 0.5s;
                        cursor: pointer;
    
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
                
                & .product-info{
                    padding: 2rem 1rem;
                    display: grid;
                    gap: 1rem;
                }

                & p{
                    font-size: 1.6rem;
                    font-weight: bold;
                }

                & span{
                    font-size: 1.4rem;

                    
                }

                & .rating{
                    display: flex;
                    align-items: end;
                    gap: .5rem;

                    & i{
                        color: #1D74D7;
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    /*--------- SECTION 3 - PRODUCTS CATEGORIES ---------*/
    & .product-categories{
        margin-top: 5rem;
        padding-inline: 2.5rem;

        & .list-categories{
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
            margin-top: 2rem;
            
            & .category{
                width: 100%;
                height: 20rem;
                overflow: hidden;
                position: relative;
                border-radius: 2rem;
                
                & img{
                    object-fit: cover;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(1);
                    width: 100%;
                    height: 100%;
                }
                
                & .infos-category{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 4rem;
                    align-items: center;
                    text-align: center;
                    color: #FFF;
                    justify-content: space-around;

                    & h3{
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    /*--------- SECTION 3 - PRODUCTS SPOTLIGHT ---------*/
    & .product-spotlight{
        margin-top: 5rem;
        padding-inline: 2.5rem;

        & .list-spotlight{
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
            margin-top: 2rem;
            height: 90rem;
            
            & .spotlight{
                width: 100%;
                overflow: hidden;
                position: relative;
                border-radius: 2rem;
                
                & img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
                
                & .infos-spotlight{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 4rem;
                    align-items: center;
                    text-align: center;
                    color: #FFF;
                    justify-content: space-between;
                    padding: 3rem 8rem;

                    & h3{
                        font-size: 2rem;
                        display: grid;
                        gap: 1rem;
                    }
                }
            }
        }
    }

    /*--------- SECTION 5 - REVIEWS ---------*/ 
    & .grid-reviews{
        margin-top: 5rem;
        padding-inline: 2.5rem;
        display: grid;
        gap: 2rem;

        & .results-review{
            background-color: #1D74D7;
            border-radius: 2rem;
            padding: 3rem 2rem;
            color: #FFF;
            display: grid;
            gap: 2rem;
            margin-top: 2rem;

            & p{
                font-size: 2rem;
                display: grid;
                gap: .5rem;
            }

            & h3{
                font-size: 2.5rem;
            }
        }

        & .list-feedbacks{
            display: grid;
            gap: 2rem;

            & .feedback{
                border-radius: 2rem;
                border: 1px solid rgba(149, 157, 165, 0.2);
                font-size: 2rem;
                padding: 3rem 2rem;
                display: grid;
                gap: 1.5rem;

                & .user-review{
                    background-color: #1D74D7;
                    width: max-content;
                    height: max-content;
                    padding: .5rem 2rem;
                    color: #FFF;
                    border-radius: 3rem;
                    font-size: 1.8rem;
                }

                & .text-feedback{
                    font-weight: bold;
                }

                & .author-feedback{
                    font-weight: bold;
                    color: #747279;
                }
            }
        }
    }
}

/* FOOTER
---------------------------------------*/
footer{
    background-color: #1D74D7;
    margin-top: 5rem;
    padding: 4rem 2.5rem;
    display: grid;
    gap: 5rem;

    & .subscribe{
        display: grid;
        gap: 4rem;

        & .grid-text{
            color: #FFF;
            display: grid;
            gap: 2rem;

            & h2{
                font-size: 2rem;
            }

            & p{
                font-size: 1.3rem;
                text-align: justify;
            }
        }

        & .wrap-subscribe{
            display: grid;
            gap: 2rem;
            color: #FFF;

            & h2{
                font-size: 2rem;
            }

            & .form{
                display: grid;
                gap: 4rem;
                font-size: 1.4rem;

                & .form-email{
                    display: grid;

                    & input{
                        background: none;
                        border: none;
                        border-bottom: 1px solid #FFF;
                        height: 4rem;
                        font-size: 1.4rem;
                        color: #FFF;
                        
                        &:focus {
                            outline: none;
                        }
                    }
                }

                & .form-checkbox{
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    cursor: pointer;

                    & input{
                        width: 1.5em;
                        height: 1.5em;
                    }
                }
            }
        }
    }

    & .business-information{
        display: grid;
        gap: 4rem;

        & .wrap-navs-footer{
            color: #FFF;
            display: grid;
            gap: 2rem;

            & h2{
                font-size: 2rem;
            }

            & nav ul li{
                list-style-type: none;
                text-decoration: none;
                margin-top: .5rem;
                
                & a{
                    text-decoration: none;
                    color: #FFF;
                    font-size: 1.4rem;
                }
            }
        }
    }

    & .last-infos{       
        display: grid;
        gap: 5rem; 
        & .payments-information{
            display: grid;
            gap: 1rem;

            & .wrap-img-payments{
                display: flex;
                gap: .5rem;
            }
        }
        
        & span{
            font-size: 1.4rem;
            color: #FFF;
        }
    }
}

/* ANIMATIONS
---------------------------------------*/
@keyframes divAnimated {
    to{
        transform: translateX(-100%);
    }
    
}

/* MEDIAS QUERIES
---------------------------------------*/

/* MOBILE */
@media (max-width: 1000px){
    /* ATIVAR O MENU DE HAMBURGUER PARA MOBILE */    
    header{
        height: 20%;

        .navbar-main{
            display: grid !important;
            grid-template-columns: max-content 1fr max-content;
            overflow: auto;
            z-index: 1;
            color: #FFF;
            align-items: center;
            column-gap: 1rem;
            row-gap: 0;
            
            grid-template-areas:
                "A A A"
                "B C D";
            grid-template-columns: max-content 1fr max-content;
            grid-template-rows: 1fr;

            & .menu{
                display: flex;
                height: 60px;
                width: 60px;
            }

            & h1{grid-area: A;}
            & .chkHamburguer{grid-area: B;}
            & .search-bar{grid-area: C;}
            & .users-info{grid-area: D;}

            & .list-elements{
                width: 60%;
                height: 100%;
                background-color: rgb(29, 116, 215, .9);
                position: fixed;
                left: -60%;
                top: 0;
                transition: left cubic-bezier(1,0,0,1) .8s;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: start;
                padding-top: 15vh;
                z-index: -1;

                & li{
                    transition: .5s;
                    &:hover{
                        scale: 1.5;
                    }
                    
                    & a{
                        color: #FFF;
    
                        &:hover{
                            color: #FFF;
                            text-decoration: underline;
                        }
                    }
                }

            }

            & h1, .search-bar, .users-info{
                z-index: -2;
            }
        }
    }
}

/* DESKTOP */
@media (min-width: 800px){
    .home{
        & img {
            height: 85rem;
        }
        
        & .infos-home{
            width: 60% !important;
            text-align: start !important;
            align-items: flex-start !important;
            justify-content: center;
    
            & h1{
                font-size: 10rem !important;
                line-height: 10rem !important;
            }
        }
    }

    .list-new-products{
        grid-template-columns: repeat(4, 1fr) !important;
    }

    .list-categories{
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;

        & .category {
            height: 35rem !important;
        }
    }

    .list-spotlight{
        grid-template-columns: repeat(2, 1fr) !important;
        height: 50rem !important;
    }

    .list-feedbacks{
        grid-template-columns: repeat(4, 1fr);
    }

    footer{
        gap: 8rem !important;

        & .subscribe{
            grid-template-columns: 1fr 1fr;

            & .grid-text{
                grid-template-rows: max-content 1fr;
            }
        }

        & .business-information{
            grid-template-columns: repeat(4, 1fr);

            & .wrap-navs-footer{
                border-left: 5px solid white;
                padding-left: 2rem;
            }
        }

        & .last-infos{
            grid-template-columns: 1fr 1fr;
            border-top: 1px solid #FFF;
            padding-top: 2rem;

            & .payments-information{
                grid-template-columns: max-content 1fr;
                gap: 3rem;
            }
        }
    }
}